<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>CellNext | Login</title>
  <link rel="stylesheet" href="css/user-signup-styles.css" type="text/css">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/295/295128.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
  <div class="container">
    <div class="container-wrapper">

      <h3 class="login-text"><i class="bi bi-person-circle ac-logo"></i>Login</h3>

      <form method="post">
        <!-- Email -->
        <div class="item">
          <label for="email">Email</label>
          <input class="input" type="email" id="email" placeholder="Enter your email" required>
        </div>

        <!-- Password -->
        <div class="item">
          <label for="password">Password</label>
          <input class="input" type="password" id="password" placeholder="Enter your password" required>
        </div>

        <!-- Submit Button -->
        <div class="item submit"><button type="submit">Login</button></div>
      </form>

      <h2><span>OR</span></h2>

      <div class="social-media">
        <!-- Google Login -->
        <a href="#">
          <div class="icons8-google social-mediaImg"></div>
        </a>
        <!-- <a href="#"><div class="icons8-facebook-circled social-mediaImg"></div></a>
                <a href="#"><div class="icons8-twitter social-mediaImg"></div></a> -->
      </div>

      <!-- Link to Signup Page -->
      <span class="ac">Don't have an Account? <a href="/signup">Sign up</a></span>
    </div>

  </div>
</body>



</html>